<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>toku1/07</title>
</head>
<body>
<h2>リモート圧電スピーカー</h2>
<form method="POST" action="/speaker/0">
    <p><input type="submit" value="メロディ 0"></p>
</form>
<form method="POST" action="/speaker/1">
    <p><input type="submit" value="メロディ 1"></p>
</form>
<form method="POST" action="/speaker/2">
    <p><input type="submit" value="メロディ 2"></p>
</form>
<form method="POST" action="/shutdown">
    <p>
        <label><input type="submit" value="シャットダウン"></label>
    </p>
</form>
</body>
</html>
